@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-snap-type: mandatory;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #6f00008d;
}

::-webkit-scrollbar-track {
  background: #4848489a; 
}

::-webkit-scrollbar-thumb {
  background: #1c0000aa; 
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3e3eaa; 
}

::-webkit-scrollbar-corner {
  background: #2f2f2fee;
}
